<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search for a word</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Jastrow App</h3>
      </div>

      <div class="jumbotron">
        <h1>Search Jastrow App</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Search Word</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Find word</button>
      </form>
      </div>

    </div>
  </body>
</html>